<div class="comment">
	 <div class="user-picture">
		<img src="" class="img-thumbnail" />
		
		<%= comment.user.name %>
		<div class="time">
			<%= format_date(comment.updated_at) %>	
		</div>
	</div>

	<div class="comment-message">
		<%= comment.message %>
	</div>
</div>
