<div class="row item-gallery pl-2 pr-2">
	<% items.each_with_index do |item, i| %>
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 pr-2 pl-2" >
			<%= render partial: "shared/card", locals: {item: item} %>
		<%= clear_fix(i) %>
	<% end %>
</div>
