<div class="rounded-box">
	<h2>Séries favorites</h2>
	<p>Voici les numéros manquants et le prochain numéro à acquérir pour les séries favorites :</p>
	<ul>
	<% @series.each do |series| %>
		<li>
			<%= link_to series.name, series %> : 
			<%= series.missing_numbers(current_user).join(", ") %>
			</li>
	<% end %>
	</ul>
</div>