
<p>
	<%= User.find(data[:user_id]).name %> vient d'ajouter :
</p>

<ul>
	<% Item.find(data[:item_ids]).each do |item| %>
		<li>
			<%= link_to item.series.name, series_path(item.series) %>
			<%= "(n°"+friendly(item.number).to_s+")" if item.number %> : 
		 	<%= link_to item.name, item %>
		</li>
	<% end %>
</ul>