
<p>
	<%= data[:user].name %> vient d'ajouter :
</p>

<ul>
	<% data[:items].each do |item| %>
		<li>
			<%= link_to item.name, item %> 
			(<%= raw item.tags.map{ |tag| raw link_to(tag.name, tag) }.join(", ") %>)
		</li>
	<% end %>
</ul>