<p><%= data[:user].name %> vient d'ajouter <%= pluralize(data[:quantity], "item") %> :</p>
<ul>
	<% data[:items].each_with_index do |item, i| %>
		<li>
			<%= sanitize (link_to item.name, item) %> 
			<small>(<%= sanitize( item.tags.map{ |tag| link_to(tag.name, tag) }.join(", ") ) %>)</small>
		</li>
	<% end %>
</ul>