<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% ancestors.each do |ancestor| %>
    	<li class="breadcrumb-item">
    		<%= link_to ancestor.name, ancestor %> 
    	</li>
    <% end %>
  </ol>
</nav>
