<% if ancestors.size > 1 %>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <% ancestors.each do |ancestor| %>
		  	<li class="breadcrumb-item <%= "active" if ancestor.id==folder.id %> ">
		  		<%= link_to ancestor.name, ancestor %> 
		  	</li>
		  <% end %>
		</ol>
	</nav>
<% end %>
