
<% if true && Rails.env == "development" %>
	<div class="rounded-box">
		<p>session[:bc] = <%= session[:bc].inspect %></p>
		
		<h4>Tag</h4>
		<% if @tag.present? %>
			<p>Tag : <%= @tag.inspect %></p>
		<% end %>

		<h4>Item</h4>
		<% if @item.present? %>
			<p>Item : <%= @item.inspect %></p>
			
		<% end %>

		<h4>Params</h4>
		<%= params.inspect %>

	</div>
<% end %>