
<% if true && Rails.env == "development" %>
	<div class="rounded-box">
		<div class="d-block d-sm-none">Taille XS : < 576px</div>
		<div class="d-none d-sm-block d-md-none">Taille SM : > 576px</div>
		<div class="d-none d-md-block d-lg-none">Taille MD : > 768px</div>
		<div class="d-none d-lg-block d-xl-none">Taille LG : > 992px</div>
		<div class="d-none d-xl-block">Taille XL : > 1200px</div>

		<h4>Params</h4>
		<%= params.inspect %>

		<h4>Divers</h4>
		
		
	</div>
<% end %>
