
<div id="catgegories_list">
	<h2>Catégories</h2>

	<ul>
	<% @categories.each do |category| %>
		<li><%= link_to category.name, category %> </li>
	<% end %>
	</ul>
</div>

<div id="newest_items">
	<h2>Derniers ajouts</h2>
	<table>
		<% @items.each do |item| %>
			<tr>
				<td><%= link_to item.series.name, series_path(item.series) %> </td>
				<td><%= link_to item.name, series_path(item.series) %> </td>
				<td>le <%= format_date(item.created_at) %></td>				
			</tr>
		<% end %>
	</table>

</div>
