<div class="rounded-box">
	<div class="pull-right">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
		 	<span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><%= link_to "Nouveau dossier", new_tag_path  %></li>
			    </li>
		  	</ul>
		</div>				
	</div>

	<h1>Collector</h1>
	
	<% if @root_tags.present? %>
		<ul>
		<% @root_tags.each do |tag| %>
			<li><%= link_to tag.name, tag_path(tag)  %></li>
		<% end %>
		</ul>
	<%end %>

	<%if @orphans.present? %>
		<h3>Dossiers orphelins</h3>
		<ul>
			<% @orphans.each do |tag| %>
			<li><%= link_to tag.name, tag %></li>
			<% end %>
		</ul>
	<% end %>

</div>
