<div class="form-group row">
  <label class="control-label col-sm-2">Images</label>
  <div class="col-sm-10">
    <%= form.file_field :attachments, multiple: true %>

    <% item.attachments.each do |attachment| %>
      <div class="attachment-thumbnail">
        <%= link_to delete_attachment_item_path(item, attachment.id), data: { confirm: "Etes-vous sûr de supprimer cette pièce jointe ?" } do %>
          <span class="glyphicon glyphicon-remove", title="Supprimer"></span>
        <% end %>
        <%= image_tag "/" + attachment.image.url(:thumb) %>
      </div>
    <% end %>
  </div>
</div>