<div class="float-right">
  <%= link_to "Voir le form BD", edit_item_path(@item, view: "bd") %>
</div>

<h1>Modification d'un item</h1>

<%= render partial: "form", locals: { item: @item, submit_text: "Sauver"} %>
