<div class="float-right">
  <%= link_to "Voir le form item", new_item_path(@item) %>
</div>

<h1>Nouvelle bande dessinée</h1>

<%= render partial: "form_bd", locals: { item: @item, submit_text: "Créer"} %>
