<div class="row rounded-box">
	<div class="col-md-8">
		<%= render partial: "shared/carousel", locals: {attachments: @post.attachments, active_slide_id: @active_slide_id } %>
	</div>
	<div class="post col-md-4">

		<%= render partial: "post_header", locals: {post: @post} %>
	    
	    <div class="post-message">
	      <%= sanitize @post.message %>
	    </div>
		
		<%= render partial: "post_comments", locals: {post: @post} %>
		
	</div>
</div>