

/* Div globale encadrant le composant React*/
.upvote {
	display: inline-block;
}
/* L'element n'est pas liké */
.upvote-no {
	background: image_url("heart-inactive.png");
	background-repeat: no-repeat;
	color : grey;
}
/* L'element est liké */
.upvote-yes, .upvote-no:hover  {
	background: image_url("heart-active.png");
	background-repeat: no-repeat;
	color: red;
}
/* Indication du nombre de like */
.upvote-count {
	padding-left: 25px;
}
