
@import 'colors';


$r: 50%;
$w: 20px;


.itemquantity-box {
	min-width: 180px;
	min-height: 40px;

	div.itemquantity-actions,
	div.itemquantity-count,
	div.itemquantity-owners {
		display: inline-block;
		text-align : center;
	}
	.itemquantity-actions {
		vertical-align: middle !important;
		width: $w;

		.glyphicon {
			display: none;
			padding: 3px;
			width: $w;
		}
		.glyphicon:hover {
			color: white;
			background-color: $high-color-hover;
		}
		 .glyphicon-plus {
			border-radius: $r $r 0 0;
		}
		.glyphicon-minus {
			border-radius: 0 0 $r $r;
		}
	}
	.itemquantity-count {
		min-width: ($w+5px);
		padding: 5px;
		color: green;
		font-weight: 700;
	}
	.itemquantity-owners {
		min-width: $w;
		padding: 5px;
	}
}

/* On affiche les controles lorsque toute la div globale est survolée */
.itemquantity-box:hover .itemquantity-actions div.glyphicon {
	display: block;
}

