

/* Indication du nombre de like */
.upvote-count {
	padding-right: 5px;
}

button.btn-upvote {
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  
	
	
}

button.btn-upvote.clicked {
	font-weight: bold;
}