

/* Indication du nombre de like */
.upvote-count {
	padding-right: 5px;
}

button.btn-upvote {
}

button.btn-upvote.clicked {
	font-weight: bold;
}

.upvote-in-table button {
    padding : 3px 8px;

}