
$border-color: #ccc;
$box-color: #fff;
$box-color-dimmed: #F5F5F5;

$color-text-dimmed: #888;
$high-color:rgb(66,103,178);
$high-color-hover:rgb(96,133,208);
$light-color: #fff;
$light-background-opacity: rgba(255, 255, 255, 0.70);

$border-radius: 4px;
$general-padding : 15px;

.bg-major {
	background-color : $high-color;
	color : $color-text-dimmed;
}