
$border-color: #ccc;
$box-color: #fff;
$box-color-dimmed: #F5F5F5;

$color-text-dimmed: #888;
$high-color:rgb(66,103,178);
$high-color-hover:rgb(96,133,208);

$border-radius: 4px;

$general-padding : 15px;

.grey {
	color: #ccc;
}
.green {
	color: green;
}
table.vertical-center tr td  {
    vertical-align: middle;
}