
$border-color: #ccc;
$box-color: #fff;
$box-color-dimmed: #F5F5F5;


$high-color:rgb(66,103,178);
$high-color-hover:rgb(96,133,208);

$tag-color-light:rgb(225,238,255);
$tag-color-white:rgb(245,250,255);

$light-color: #ddd;
$light-color-hover: #ccc;
$light-background-opacity: rgba(255, 255, 255, 0.70);

$dark-color : #444;
$color-text-dimmed: #888;


$border-radius: 4px;
$general-padding : 15px;

.bg-major {
	background-color : $high-color;
	color : $color-text-dimmed;
}