
ol.breadcrumb {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	margin-bottom: 20px !important;
}

.header-letters {
	margin-bottom: 20px;
}

.form-in-breadcrumbs {
	display : inline-block;
	margin-left: 20px;
	width: 150px;
	input {
		margin: 0;
	}
	
}
