
@import 'colors';

body {
	font-family: "Helvetica", "Arial", "sans-serif" !important;
	background-color: rgb(233, 235, 238) !important;
}

#main-container {
	padding-top: 30px;
}

.rounded-box {
	background-color: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	padding: $general-padding;
	margin-bottom: $general-padding;
	h1, h2 {
		margin-top : 0px;
		margin-bottom : 15px;
	}
}

.img-thumbnail {
	margin-bottom: 5px;
	margin-right: 5px;
}

/* suppression du message en bas de page créé par autocomplete (?) */
.ui-helper-hidden-accessible {
	display: none;
}

/* Alignement des icones dans un menu bootstrap dropdown */
a.dropdown-item > i {
    width : 30px; /* je force la largeur des icones pour que le texte soit aligné à gauche */
    margin-left: -12px; /* Je décale l'icone de 12px à gauche (dans le padding du dropdown-item, afin de ne pas devoir modifier le padding de tous les dropdown-item !)*/
}

nav.navbar {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}