
@import 'colors';

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(233, 235, 238) !important;
}

nav.navbar {
	background: $high-color;

	div.navbar-header a.navbar-brand,
	ul.nav.navbar-nav li a.white, 
	ul.nav.navbar-nav li.dropdown a.dropdown-toggle {
		color: white;
	}
	
	ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
		padding: 10px 10px 10px 20px;
	}

}

.rounded-box {
	background: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	padding: $general-padding;
	h1, h2 {
		margin-top : 0px;
		margin-bottom : 15px;
	}
}