

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(233, 235, 238) !important;
}

nav.navbar {
	background: rgb(66, 103, 178) ;

	div.navbar-header a.navbar-brand,
	ul.nav.navbar-nav li a.white, 
	ul.nav.navbar-nav li.dropdown a.dropdown-toggle {
		color: white;
	}
	
	ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
		padding: 10px 10px 10px 20px;
	}

}