
@import 'colors';

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(233, 235, 238) !important;
}

nav.navbar.navbar-default {
	background-color: $high-color;

	.navbar-header a img.navbar-brand-logo {
		height : 30px;
		margin: 10px;
	}

	div.navbar-header a.navbar-brand.white-link,
	ul.nav.navbar-nav li.dropdown a.dropdown-toggle.white-link, 
	ul.nav.navbar-nav li a.white-link {
		color: #ddd;
	}
	ul.nav.navbar-nav li.dropdown a.dropdown-toggle.white-link:hover, 
	ul.nav li a.white-link:hover {
		color: #fff;
	}
	
	ul.nav.navbar-nav.navbar-right li.dropdown a.dropdown-toggle {
		padding: 10px 10px 10px 20px;
	}

	ul.nav.navbar-nav li.dropdown.open a.dropdown-toggle {
		background-color: $high-color-hover;
	}

	#top-navbar ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu {
		background: white;
	}

	#top-navbar form.navbar-form {
		border : none;
	}
}

.rounded-box {
	background-color: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	padding: $general-padding;
	margin-bottom: $general-padding;
	h1, h2 {
		margin-top : 0px;
		margin-bottom : 15px;
	}
}

.img-thumbnail {
	margin-bottom: 5px;
	margin-right: 5px;
}

table.table-extra-condensed tbody tr td {
	padding-top : 0;
	padding-bottom: 0;
	vertical-align: middle;
}

.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 50px;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 100;
	display: none;
	text-decoration: none;
	i {
	  font-size: 4em;
	}
}