// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
		
#create-post {
	background-color: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	img.profile-picture {
		float: left;
		margin-left: $general-padding;
		margin-top : 30px;
	}
	.text-zone {
		margin-left : 60px;
		padding : 10px $general-padding 10px $general-padding;
		textarea {
			border : none;
			width : 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 50px;
			height : 75px;
		}			
	}
	.tool-box {
		background: $box-color-dimmed;
		height: 34px;
		input[type=file] {
			padding: 2px;
		}
		#uploaded-files {
			display: inline-block;
		}
	}
}

.post {
	margin-top : 10px;
	margin-bottom: 10px;
	padding-top : 20px;

	background: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	.post-header {
		padding-right : $general-padding;
		.profile-picture {
			float: left;
			margin-left: $general-padding;
		}
		.user-name {
			margin-left : 60px;
			padding-top : 5px;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.post-message {
		clear: both;
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left : $general-padding;
		padding-right: $general-padding;
	}
	.post-photo-gallery {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left : $general-padding;
		padding-right: $general-padding;
		.post-photo {
			
		}
	}
	.likes {
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right : $general-padding;
		width: 100%;
		text-align:right;
		.new-comments {
			
		}
	}
	.comments {
		font-size: 0.9em;
		padding-left : 45px;
		padding-right: $general-padding;
		padding-top: 10px;
		padding-bottom: 10px;
		background: rgb(246, 247, 249);

		.comment {
			clear: both;
			margin-top: 5px;
			margin-bottom : 10px;
			.profile-picture {
				float : left;
			}
			.comment-message {
				padding-top : 8px;
				margin-left : 50px;
				.comment-username {
					font-weight: 700;
				}
			}
		}
		.comment-add {
			clear:both;
			margin-top: 5px;
			margin-bottom: 5px;
			.profile-picture {
				float : left;
			}
			.comment-add-textarea {
				margin-left : 50px;
				input {
					width : 100%;
				}
			}
		}
	}
	
}

.post-old {
	background: $box-color-dimmed;
}

.time {
	color : $color-text-dimmed;
	font-size: 0.8em;
	font-weight: normal;
	padding-right : 5px;
}