// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
	
/* NEW */	
#post-new {
	background-color: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	margin-bottom: 20px;
	img.profile-picture {
		float: left;
		margin-left: $general-padding;
		margin-top : 30px;
	}
	.text-zone {
		margin-left : 60px;
		padding : 10px $general-padding 10px $general-padding;
		textarea {
			border : none;
			width : 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 50px;
			height : 75px;
		}			
	}
	.tool-box {
		background: $box-color-dimmed;
		height: 34px;
		input[type=file] {
			padding: 2px;
		}
		#uploaded-files {
			display: inline-block;
		}
	}
}

/* EDIT */
#post-edit {
	.text-zone {
		textarea {
			border : 1px solid $border-color;
			min-width: 100%;
			max-width: 100%;
			min-height: 50px;
			height : 75px;
		}			
	}
	.tool-box {
		margin-bottom: 30px;
		text-align : right;
		background: $box-color-dimmed;
		height: 34px;
		input[type=file] {
			padding: 2px;
		}
		#uploaded-files {
			display: inline-block;
		}
	}
}

/* INDEX */
.post {
/*	margin-top : 10px;
	margin-bottom: 10px;
	padding-top : 20px; */
	.post-header {
		padding-right : $general-padding;
		.profile-picture {
			float: left;
			margin-left: $general-padding;
		}
		.user-name {
			margin-left : 60px;
			padding-top : 5px;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.post-message {
		clear: both;
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left : $general-padding;
		padding-right: $general-padding;
	}
	.post-likes {
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right : $general-padding;
		width: 100%;
		text-align:right;
		.new-comments {
			
		}
	}
}

/* COMMENTS */
.post-comments {
	font-size: 0.9em;
	padding-right: $general-padding;
	padding-top: 10px;
	padding-bottom: 10px;
	/* background: rgb(246, 247, 249); */

	.comment {
		clear: both;
		margin-top: 5px;
		margin-bottom : 15px;
		img.profile-picture {
			float : left;
		}
		.comment-message {
			margin-left : 50px;
			.comment-username {
				font-weight: 700;
			}
		}
		div.comment-upvote {
			display : inline-block;
			float: right;
			padding-right : $general-padding;
			padding-top : $general-padding;
		}
	}
	.comment-add {
		clear:both;
		margin-top: 5px;
		margin-bottom: 5px;
		.profile-picture {
			float : left;
		}
		.comment-add-textarea {
			margin-left : 50px;
			input {
				width : 100%;
			}
		}
	}
}

/* PREVIEW */
.preview-container {
	padding: 10px;
	font-size: 0.9em;
	margin: 10px 30px 10px 30px;
	box-shadow: 3px 3px 15px #CCC;
	color: black;
}
/* container pour la génération de la vignette pendant l'écriture du post*/
#live-preview {
	display: none;
	padding : 15px;
	.preview-spinner {
		text-align : center;
		color:#ccc;
		width : 100%;
		padding: 30px;
	}
}
.youtube_preview {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube_preview iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.post-old {
	background: $box-color-dimmed;
}

.time {
	color : $color-text-dimmed;
	font-size: 0.8em;
	font-weight: normal;
	padding-right : 5px;
}