@import 'colors';
	
.post-old {
	background: $box-color-dimmed;
}

.time {
	color : $color-text-dimmed;
	font-size: 0.8em;
	font-weight: normal;
	padding-right : 5px;
}

/* NEW */	
#post-new {
	background-color: $box-color;
	border: 1px solid $border-color;
	border-radius: $border-radius;
	margin-bottom: 20px;
	img.profile-picture {
		float: left;
		margin-left: $general-padding;
		margin-top : 30px;
	}
	.text-zone {
		margin-left : 60px;
		padding : 10px $general-padding 10px $general-padding;
		textarea {
			border : none;
			width : 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 50px;
			height : 75px;
		}			
	}
	.tool-box {
		background: $box-color-dimmed;
		height: 34px;
		input[type=file] {
			padding: 2px;
		}
		#uploaded-files {
			display: inline-block;
		}
	}
}

/* EDIT */
#post-edit {
	.text-zone {
		textarea {
			border : 1px solid $border-color;
			min-width: 100%;
			max-width: 100%;
			min-height: 50px;
			height : 75px;
		}			
	}
	.tool-box {
		margin-bottom: 30px;
		text-align : right;
		background: $box-color-dimmed;
		height: 34px;
		input[type=file] {
			padding: 2px;
		}
		#uploaded-files {
			display: inline-block;
		}
	}
}

/* INDEX */
.post {
/*	margin-top : 10px;
	margin-bottom: 10px;
	padding-top : 20px; */
	.post-header {
		margin-top : 20px;
		padding-right : $general-padding;
		.user-name {
			margin-left : 60px;
			padding-top : 5px;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.post-message {
		clear: both;
		margin-top: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left : $general-padding;
		padding-right: $general-padding;
	}
	.post-likes {
		margin-top: 25px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right : $general-padding;
		width: 100%;
	}
	form.form-inline input {
		width: 100%;
		margin-left: $general-padding;
		height: 40px;
	}
	.applause-height {
		height: 40px;
		img {
			height: 25px;
		}
	}
}
/* Applaudissements : popper.js popup */
.popover-body {
	color : $color-text-dimmed;
	ul {
		margin : 5px 0;
		padding : 0;
		list-style : none;
	}
}


/* COMMENTS */
.post-comments {
	font-size: 0.9em;
	padding-right: $general-padding;
	padding-top: 10px;
	padding-bottom: 10px;

	.comment {
		clear: both;
		margin-top: 5px;
		margin-bottom : 15px;
		img.profile-picture {
			float : left;
		}
		.comment-message {
			margin-left : 50px;
			.comment-username {
				font-weight: 700;
			}
		}
	}
}

/* PREVIEW */
.preview-container {
	padding: 10px;
	font-size: 0.9em;
	margin: 10px 30px 10px 30px;
	box-shadow: 3px 3px 15px #CCC;
	color: black;
	img {
		max-width: 100%;
	}
}
/* container pour la génération de la vignette pendant l'écriture du post*/
#live-preview {
	display: none;
	padding : 15px;
	.preview-spinner {
		text-align : center;
		color: #ccc;
		width : 100%;
		padding: 30px;
	}
}

/* Responsive Youtbe integration : https://coolestguidesontheplanet.com/videodrome/youtube  */
.youtube-wrap {
	width : 100%;
	max-width : 480px;
	margin: auto;
}
.youtube_preview {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.youtube_preview iframe, .youtube_preview object, .youtube_preview embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* PAGINATE */
.load_next_posts_spinner {
	min-height : 100px;
	padding-top: 30px;
	text-align : center;
}

/* POST > Show */
#carousel_photos {
	max-width : 700px;
	margin:auto;
	a.carousel-control-prev, a.carousel-control-next {
		width:49%;
		justify-content : flex-start;
		padding: 20px;
		display: inline-block;
		padding-top : 50%;
	}
	a.carousel-control-prev {
		text-align : left;
	}
	a.carousel-control-next {
		text-align : right;
	}
}


