
@import "colors.scss";

$internal-padding: 5px;

div.series-show div.btn-group {
	float: right;
}

.item-gallery {
	.panel {
		
		.panel-heading {
			padding: $internal-padding;
			position: relative;

			.panel-overlay {
				position: absolute;
				top : 20px;
				left : $internal-padding;
				padding: 5px;
				background: $light-background-opactity;
				display: none;
				vertical-align: middle;
				button {
					margin-left: 10px;
				}
			}

		}
		.panel-heading:hover .panel-overlay {
			display: block;
		}
		img {
			border-radius: 3px;
		}
	}
	.panel:hover {
		box-shadow: 3px 3px 15px #CCC;
	}
}

