@import 'colors';

/* .header-letters {
	margin-bottom: 20px;
}
*/

/* Blocs utilisés en page d'accueil pour afficher les dernières nouveautés */
.card-latest {
	margin-top : 0;
	padding : 0; /* cancel padding from devise on .card */
	ul {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
		padding : 5px 20px;
		font-size : 0.9em;
		}
	}
}

/* Tag général */
.tag {
	white-space: nowrap;
	font-size : 0.9em;
	padding : 10px;
	margin-right: 10px;
	line-height : 2.5em;
	border-radius: 0.5em;
	a, a:hover {
		color : $light-color;
	}
}
/* Tag servant à filter les items listés */
.tag-filter {
	background-color : $high-color;
	&:hover {
		background-color: $high-color-hover;
	}
	a, a:hover {
		color : white;
	}
}
/* Tag ne servant pas à filter les items listés (uniquement navigation) */
.tag-nofilter  {
	background-color : $light-color;
	&:hover {
		background-color: $light-color-hover;
	}
	a, a:hover {
		color : $dark-color;
	}
}

