@import 'colors';

/* Liste des lettres pour filtrer la liste des tags en tete de page */ 
.header-letters {
	margin-bottom: 20px;
	a.btn {
		color : black;
	}
}

/* Tag général */
.collector-tag {
	white-space: nowrap;
	font-size : 0.9em;
	padding : 4px 8px;
	margin-right: 5px;
	border-radius: 0.5em !important;
}

/* Tags filtrants et n'importe quelle div dans un champ "selectize.js" */
.collector-tag-filter,
.selectize-input > div {
	background : $tag-color-light !important;
	border : 1px solid $high-color !important;
	color : $high-color !important;
	&:hover {
		background : $tag-color-white !important;
	}
	a, a:hover {
		color : $high-color;
		text-decoration : none;
	}
}

/* Tags ne servant pas à filter les items listés (uniquement navigation) */
.collector-tag-nofilter  {
	background : white !important;
	border : 1px solid $high-color !important;
	color : $dark-color !important;
	&:hover {
		background : $tag-color-white !important;
	}
	a, a:hover {
		color : $high-color;
		text-decoration : none;
	}
}

