
.header-letters {
	margin-bottom: 20px;
}

/* DIV de recherche principal, sur la page d'accueil collector */
.collector-search {
	padding-top: 4em;
	padding-bottom: 6em;
	clear:both;
	text-align: center;
}

.card-latest {
	margin-top : 0;
	padding : 0; /* cancel padding from devise on .card */
	ul {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
		padding : 5px 20px;
		font-size : 0.9em;
		}
	}
}