@import 'colors';

/* Liste des lettres pour filtrer la liste des tags en tete de page */ 
.header-letters {
	margin-bottom: 20px;
	a.btn {
		color : black;
	}
}


/* Blocs utilisés en page d'accueil pour afficher les dernières nouveautés */
.card-latest {
	margin-top : 0;
	padding : 0; /* cancel padding from devise on .card */
	ul {
		margin-top: 10px;
		margin-bottom: 10px;
		li {
		padding : 5px 20px;
		font-size : 0.9em;
		}
	}
}

/* Tag général */
.collector-tag {
	white-space: nowrap;
	font-size : 0.9em;
	padding : 5px 10px;
	margin-right: 10px;
	border-radius: 0.5em !important;
}

/* Tag filtrant */
.collector-tag-filter,
.selectize-input > div {
	background : $tag-color-light !important;
	border : 1px solid $high-color !important;
	color : $high-color !important;
	&:hover {
		background : $tag-color-white !important;
	}
	a, a:hover {
		color : $high-color;
		text-decoration : none;
	}
}

/* Tag ne servant pas à filter les items listés (uniquement navigation) */
.collector-tag-nofilter  {
	background : white !important;
	border : 1px solid $high-color !important;
	color : $dark-color !important;
	&:hover {
		background : $tag-color-white !important;
	}
	a, a:hover {
		color : $high-color;
		text-decoration : none;
	}
}

