
@import 'colors';

.profile-picture {
	float: left;
	border-radius : 50%;
}

/* Padding spécifique dans les posts */
#posts .profile-picture {
	margin-left: $general-padding;
	margin-right: $general-padding;
}
/* Padding spécifique dans la navbar */
nav .profile-picture {
	margin-right: 10px;
}
