
<!-- 
<div class="rounded-box">
	<%# react_component "SeriesList", render(template: 'series/show.json.jbuilder') %>

	<div class="separator">
		<%# render partial: "items/form", locals: {item: @new_item, submit_text: "Ajouter" } %>
	</div>
</div>
-->

<%# render(template: 'series/show.json.jbuilder') %>
<%# render(template: 'items/index.json.jbuilder') %>
<%# render partial: "items/modal" %>

<div class="rounded-box">
	<div class="series-show">
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-th"></span>
			</button>

			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li>
					<a href={this.props.edit_path}>
						Modifier la série
					</a>
				</li>

				<li>
					<a data-confirm="Supprimer la série entière et tous les éléments qu'elle contient ?" rel="nofollow" data-method="delete" href={this.props.delete_path}>
						Supprimer la série
					</a>
				</li>
			</ul>
		</div>

		<h1>
			<%= @series.name %>
		</h1>
		
		<%= render partial: "table", locals: { items: @items} %>
		
	</div>
	<div class="separator">
		<%= render partial: "items/form", locals: {item: @new_item, submit_text: "Ajouter" } %>
	</div>
</div>