<p><%= data[:user].name %> vient d'ajouter <%= pluralize(data[:quantity], "item", "items") %> :</p>
<ul>
	<% data[:items].each do |item| %>
		<li>
			<%= sanitize (link_to(folder.name, folder)) %> : <%= sanitize (link_to item.name, item) %>
		</li>
	<% end %>
</ul>
